<ion-tabs>
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="romanticni">
      <ion-icon color="warning"name="tv"></ion-icon>
      <ion-label>Filmovi</ion-label>
      <!-- <ion-badge>6</ion-badge> -->
    </ion-tab-button>

    <ion-tab-button tab="omiljeni-glumci">
      <ion-icon color="primary" name="heart"></ion-icon>
      <ion-label>Omiljeni glumci</ion-label>
    </ion-tab-button>






    <!-- <ion-tab-button tab="sacuvani">
      <ion-icon name="bookmark"></ion-icon>
      <ion-label>Sačuvani</ion-label>
    </ion-tab-button> -->
  </ion-tab-bar>
</ion-tabs>
