<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Omiljeni glumci</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
 <ion-list>

  <ion-card>
    <ion-card-content>
      <img src="/assets/slike/leonardo.jpeg"/>
    </ion-card-content>

        <ion-card-header>
          <ion-card-title>Leonardo DiCaprio</ion-card-title>
          <ion-card-subtitle>11. novembar 1974</ion-card-subtitle>
        </ion-card-header>
      <ion-card-content>
       <p><b>Filmovi u kojima glumi:</b></p>
       <p> Titanik</p>
       <p> Zatvoreno ostrvo</p>
       <p>Vuk sa Vol strita</p>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-content>
        <img src="/assets/slike/angelina.jpeg"/>
      </ion-card-content>


          <ion-card-header>
            <ion-card-title>Angelina Jolie</ion-card-title>
            <ion-card-subtitle>4.Jun 1975</ion-card-subtitle>
          </ion-card-header>
        <ion-card-content>
         <p><b>Filmovi u kojima glumi:</b></p>
         <p>Solt</p>
         <p>Turista</p>
         <p>Prvi greh</p>
        </ion-card-content>
      </ion-card>

      <ion-card>
        <ion-card-content>
          <img src="/assets/slike/bred.jpeg"/>
        </ion-card-content>


            <ion-card-header>
              <ion-card-title>Brad Pitt</ion-card-title>
              <ion-card-subtitle>18. Decembar 1963.</ion-card-subtitle>
            </ion-card-header>
          <ion-card-content>
            <p><b>Filmovi u kojima glumi:</b></p>
           <p>Gospodin i gospodja Smit</p>
           <p>Brzina metka</p>
           <p>Borilacki klub</p>
          </ion-card-content>
        </ion-card>

</ion-list>
</ion-content>
